.wrapper {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid;
    border-radius: 8px;
}
h1 {
    font-size: 25px;
    line-height: 28px;
    padding-top: 20px;
    padding-left: 20px;
    
    }
#cityInput {
    border-radius: 10px;
    font-size: 20px;
    line-height: 40px;
    width: 300px;
    border: 1px solid;
    padding-left: 40px;
}
#searchButton {
    font-size: 18px;
    position: relative;
    left: 80px;
    
}
#searchButton :hover {
        cursor: pointer;
    }

ul {
    list-style: none;
}
#link {
    position: relative;
    top: -30px;
    text-decoration: none;
}
#iconItem {
    position: relative;
    top: -40px;
}
#units {
    position: relative;
    top: -34px;
    font-size: 20px;
    right: 15px;
}
#temperature {
    position: relative;
    right: 15px;
    font-size: 55px;
    line-height: 1;
    color: rgb(121, 118, 118);
}
